.event-list-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; /* Distributes items evenly with space between */
  margin-bottom: 20px;
  /* Add margin between rows */
  background-color: #deeff0;
  margin-top: 30px;
}

.event-card {
  /* Style for each event card */
  /* Add your styles here */
  /* For example: */
  flex: 0 0 calc(33.33% - 20px); /* Adjust the width of each card */
  margin-bottom: 20px; /* Add spacing between items */
}

/* Adjust card width if there are less than 3 cards per row */
@media screen and (max-width: 1066px) {
  .event-card {
    flex-basis: calc(50% - 20px); /* Two cards per row */
  }
}

@media screen and (max-width: 712px) {
  .event-card {
    flex-basis: calc(100% - 20px); /* One card per row */
  }
}
